html, body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #FCFCF4;
    scroll-behavior: smooth;
}

.company-name {
    width: 50%;
    padding: 50px -1px;
    text-align: center;
    display: flex; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    align-items: center;
}

.company-logo {
    width: 50px; 
    height: 50px;
    border-radius: 100%;
}

.company-name h2 {
    margin: 8px;
    color: #FFFBE9;
    font-size: 20px;
}



.side-panel {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: calc(100% - 50px);
    background-color: #734122;
    border-right: 1px solid #ccc;
    z-index: 1000;
    padding: 20px;
}

.user-info {
    background-color: #BB8463;
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    margin-bottom: 20px; 
    margin-top: 40px;
    display: inline-block;
}

.user-info i.fas.fa-user {
    color: #734122; 
}

.user-info i,
.user-info .username {
    padding: 5px;
    border-radius: 50%;
}

.user-info i {
    color: #fff;
    margin-right: 5px;
}

.username {
    color: #333;
}

.side-panel ul {
    list-style: none;
    padding-top: 20px;
    padding-left: 0;
}

.side-panel ul li {
    margin-bottom: 30px;
    margin-top: 10px;
}

.side-panel a {
    text-decoration: none; 
    color: #ffffff; 
}

hr {
    margin-bottom: 20px;
}

.side-panel a.active {
    font-weight: bold;
    color: #D9BBA1; 
}

.side-panel ul li a:hover {
    color: #D9BBA1; 
}

.main-content {
    margin-left: 220px; 
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.library-label {
    font-size: 30px;
    font-weight: bold;
	margin-left:50px;
    color: #734122;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    margin-right: 5px;
    width: 300px;
}

.search-bar button {
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #734122;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    width: 60px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: relative; 
}

.sort-dropdown {
    position: absolute;
    right: 10px;
}

.sort-dropdown label {
    margin-right: 10px;
}

.sort-dropdown select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    width: auto;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
	padding-top: 30px;
	
}

.content-item {
    display: flex;
    background-color: #fff;
    overflow: hidden;
    width: 40%; 
    align-items: center;
    padding: 10px;
    margin-left: 20px;
    margin-top: 30px; 
	border-radius: 10px;
	border: 1px solid #ccc;
}

.content-item img {
    width: 200px;
    height: auto;
    margin-right: 10px;
}

.content-item .content-details {
    flex-grow: 1; 
}

.content-item a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

.content-item a:hover {
    text-decoration: underline;
	color: #BA7E3B;
}

.author, .date-modified {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

@media screen and (max-width: 768px) {
    .side-panel {
        width: 150px;
    }
    .main-content {
        margin-left: 170px;
    }
    .content-item {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .search-bar input[type="text"] {
        width: 200px;
    }
}

@media screen and (max-width: 576px) {
    
    .main-content {
        margin-left: 20px;
    }
    .content-item {
        width: 100%;
    }
    .search-bar input[type="text"] {
        width: 150px;
    }
}
