html, body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
	scroll-behavior: smooth;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #734122; 
}

.company-name {
    width: 50%;
    padding: 20px;
    text-align: center;
    display: flex; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

.company-logo {
    width: 50px; 
    height: 50px;
    border-radius: 100%;
}

.company-name h2 {
    margin: 15px;
    color: #FFFBE9;
}

.fas.fa-user {
  color: #fff; 
  font-size: 24px; 
  position: relative; 
  margin-right:10px;
}
.fas.fa-user:hover {
  color:#BB8463; 
}
.fas.fa-user::after {
  content: "Register";
  font-size: 12px;  
  font-family: 'Times New Roman', Times, serif;
  position: absolute; 
  top: calc(100% + 5px); 
  left: 50%;
  transform: translateX(-50%); 
  display: none; 
}
.fas.fa-user:hover::after {
  display: block; 
}

.navigation {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.navigation a {
    text-decoration: none;
    color: #5D3624; 
    font-size: 20px;
    margin: 20px;
    transition: color 0.3s ease;
}

.navigation a:hover {
    color: #BA7E3B; 
}

.navigation a.active {
    font-weight: bold;
    color: #BA7E3B; 
}

main {
    background-image: url('image/b9.jpeg');
    height: 600px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.main-content {
    padding: 80px;
    text-align: left;
   
}

.main-content h1 {
    font-size: 70px;
    margin-left: 80px;
	 color: #fff; 
}

.main-content p {
    font-size: 25px;
    line-height: 1;
    margin-left: 80px;
	background-color: rgb(0,0,0, .10);
	width: auto;
	 color: #fff; 
}

.slideshow-article {
    background-color: #F2EEEC; 
    background-size: cover;
    margin: auto;
    padding: 30px 80px 10px;
    max-width: 100%;
    height: 700px;
}


.slideshow-article h2 {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    color: #000; 
}

.slideshow-container {
    overflow-x: scroll;
    white-space: nowrap;
}

.slides-fade {
    display: inline-flex;
}

.slide {
    flex: 0 0 auto;
    width: 300px;
    height: 500px;
    position: relative;
	padding: 10px;
  
}

.slide img {
    width: 90%;
    height: 80%; 
    object-fit: cover;
    border-radius: 10px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.slide:hover img {
    transform: scale(1.04); 
}


.caption {
    position: absolute;
    bottom: 20px; 
    left: 0;
    color: #000;
    font-size: 15px;
    width: auto;
	
}

.caption p {
    margin: 0; 
}

.caption a {
    display: block; 
    color: #000;
    text-decoration: none; 
    margin-top: 15px; 
}

.caption a:hover {
	color: #734122;
}

::-webkit-scrollbar {
    height: 1px;
    width: 10px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: #000;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

section img {
   width: 500px;
    height: 550px;
	padding-top: 40px;
    object-fit: cover;
    z-index: 2;
}

section.company-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px 60px;
    background-color: #D3C2B3;
}

section.company-info h2 {
    font-size: 22px;
    margin: 0;
    padding: 10px;
    line-height: 1.2;
    color: #221C1C; 
}
section.company-info h3 {
    font-size: 56px;
    margin: 0;
    padding: 10px;
    line-height: 1.2;
    color: #221C1C; 
}
section.company-info p {
    text-align: justify;
    margin: 0;
    padding: 20px;
    line-height: 1.5;
    color: #221C1C; 
}
.slideshow-article1 {
    background: #e5e4e2; 
    background-position: center;
    padding: 30px 80px 80px;
    margin: auto;
    max-width: 100%;
    height: auto;
}
.slideshow-article1 h2 {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #000; 
}
.slides-fade {
    display: flex;
    justify-content: space-between;
}
.slide1 {
    text-align: center;
    padding: 40px;
    transition: transform 0.3s ease; 
}
.slide1:hover {
    transform: translateY(-5px); 
}
.member {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.member img {
    border-radius: 30%; 
    width: 310px;
    height: 300px;
    object-fit: cover; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.member .info {
	padding-top:10px;
    margin: 0;
    color: #1a1208;
}

.user-feedback {
    padding: 30px;
    margin-top: 10px;
}

.user-feedback h2 {
    text-align: center;
    font-size: 30px;
    color: #221C1C; 
    margin-bottom: 40px;
}

.feedback-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}
.feedback img {
	padding-top: 0;
    width: 100px;
    height: 100px; 
	border-radius: 50%; 
}
.feedback {
    width: calc(20% - 20px); 
    margin-bottom: 20px;
    background-color: #82746E; 
    border: 1px solid #82746E; 
    padding: 10px;
    box-sizing: border-box;
    border-radius: 30px; 
    transition: transform 0.3s ease; 
}
.feedback:hover {
    transform: translateY(-5px); 
}
.feedback h3 {
    font-size: 18px;
    color: #fff; 
    margin-bottom: 10px;
}
.feedback p {
    font-size: 14px;
    color: #fff; 
    line-height: 1.6;
}


footer {
    background-color: #343434 ; 
    color: #fff; 
    padding: 50px;
    text-align: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-content {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 10px; 
}
.icon-button {
    display: flex;
    flex-direction: column;
}
.icon-text {
    display: flex;
    align-items: center;
}
.company-info {
    text-align: left;
}
.company-name-1 {
    font-size: 30px;
    margin: 0;
    color: #fff; 
}
.company-contact, .company-phone, .company-email {
    margin: 0;
    padding-top: 30px;
    color: #fff; 
}
.footer-text {
    text-align: left;
    padding-right: 70px; 
    line-height: 1.5;
    color: #fff;
}
.footer-nav {
    padding-left: 600px;
    padding-bottom: 20px;
}
.rights-reserved {
    padding-top: 30px;
    flex-basis: 100%; 
    margin: 0 auto; 
    border-top: 1px solid #fff; 
    text-align: center; 
    position: relative;
     color: #fff; 
}

@media only screen and (max-width: 768px) {
    .main-content {
        padding: 40px;
    }
	section img {
		width: 100%;
		height: auto;
		padding-top: 40px;
		object-fit: cover;
		z-index: 2;
	}
    section.company-info {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
     .user-feedback {
        padding: 20px;
        margin-top: 10px;
    }
    
    .feedback {
        width: calc(100% - 20px);
    }
    .footer-nav {
        padding-left: 0;
        padding-bottom: 10px;
    }
    
    .rights-reserved {
        padding-top: 20px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        padding-left: 0; 
    }

    .icon-button, .icon-text {
        margin-bottom: 15px;
    }

    .footer-text {
        padding-right: 0; 
        text-align: center; 
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  
	.user-feedback {
        padding: 20px;
        margin-top: 10px;
    }
    
    .feedback {
        width: calc(45% - 20px);
    }
    
    .footer {
        padding: 30px;
    }
	
	
}

@media only screen and (min-width: 1024px) {
     .user-feedback {
        padding: 30px;
        margin-top: 20px;
    }
    
    .feedback {
        width: calc(20% - 30px);
    }
    .footer {
        padding: 50px;
    }
}
